__pycache__
generated_config
ctrl.egg-info
build
CMakeUserPresets.json
cmake-build-debug
CMakeFiles
.cache
*.so
.ruff_cache
.mypy_cache
*.prof
tmp_verify
*.egg-info
.venv
.pytest_cache
*.log
*.ipynb_checkpoints
